{% block sw_cms_block_hello_retail_preview %}
    <div class="sw-cms-preview-hello-retail">
        <img src="{{ asset('@HelretHelloRetail/static/img/HR_logo_primary1_no-payoff.png') }}">
    </div>
{% endblock %}
