{% sw_extends "@storefront/storefront/page/checkout/cart/index.html.twig" %}

{% block page_checkout_main_content %}
    <span class="addwish-cart"
          style="display:none"
          data-total="{{ page.cart.price.totalPrice }}"
          data-email="{{ context.customer.email }}"
    >
        {% for item in page.cart.lineItems.elements %}
            <span class="addwish-product" data-productnumber="{{ item.payload.productNumber }}"></span>
        {% endfor %}
    </span>

    {{ parent() }}
{% endblock %}
