{% block sw_cms_block_hello_retail_preview %}
    <div class="sw-cms-preview-hello-retail">
        <span>Don't use. This block is deprecated and will be removed in future versions.</span>
    </div>
{% endblock %}
