{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_hidden_line_items_information %}
    {{ parent() }}

    {% if config('HelretHelloRetail.config.partnerId') %}
        {# set cart by Javascript, since HelloRetail script isn't loaded agian to read html #}
        {% sw_include '@HelretHelloRetail/storefront/component/helret/js-cart-tracker.html.twig' with {
            cart: page.cart,
            customer: context.customer
        } %}

        {% if config('HelretHelloRetail.config.cartRecomsToggle') %}
            {% if config('HelretHelloRetail.config.cartRecommendationPosition') === 'sidebar' %}

                {% if errorMessage %}
                    <h3><span> {{ errorMessage }}</span></h3>
                {% endif %}

                {% if page.extensions.helloRetailRecommendations %}
                    <div class="hr-recom d-none" data-offcanvas-cart-recommendations="true">
                        <h2 class="hr-recom-heading"><span>{{ "helret-hello-retail.cart.offcanvasHeading"|trans|sw_sanitize|raw }} </span></h2>
                        <div class="offcanvas-cart-recommendations">
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}