{% block layout_offcanvas_cart_recommendations %}
    {% if products and products|length > 0 %}
        {% for product in products %}
            <div class="cms-listing-col">
                {% sw_include '@Shopware/storefront/component/product/card/box-standard.html.twig' with {
                    'displayMode': 'grid',
                    'product': product,
                } %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}